<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/airFeedStyle.css">
    <title>MEEDRH Mission Control Interface</title>
</head>
<body>
    <header>
    <h1 class="title">Drone Interface</h1>
    </header>

    <main>
        <!--const options={
    method: 'POST',
    headers:{
        "Content-Type": "application.json"
    },
        body: JSON.stringify(data)
    }
    fetch('/api', options)
-->
    </main>
    <nav>
        <a href="/">Home</a>  <a href="/api/missionInformation">General API</a> <a href="/missionInformation">Mission Information Log</a>
        <a href="/cameraR">View Land Camera</a>
    </nav>
</body>
</html>