<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Mono&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/biologyStyle.css">
    <title>Biological Applications of the MEEDRH</title>

    <div class="containerH">
    <nav>
        <span><a href="/">Home</a></span>
        <span><a href="/development">About the MEEDRH</a></span>
        <span><a href="/missionInformation">Mission Information Log</a> </span>
        <span><a href="/delta">Further Development</a></span>
        <!--<span><a href="/cameraR">Land Unit Interface</a></span> 
            <span> <a href="/api">General API</a> </span>
        <span><a href="/cameraD">Air Unit Interface</a></span>
        <a href="/members">MTF Members</a>-->
    </nav>
    </div>
</head>
<body>
    <div class="titleCard">
    <header>
    <h1 class="title">Applications of the MEEDRH in Biology</h1>
    <p class="devTag"></p>
    </header>
    </div>

    <main>
        <div class="textBody">
        <p class="summaryP">The Multipurpose Extreme Environment Drone Rover Hybrid (MEEDRH) holds substantial capability in terms of applications in Biology. The most immediate 
            application is to use the MEEDRH to extract matter from a volcano or other extremely hot environment to bring back to a laboratory. These samples can then be examined
            for organisms such as extremophiles. There is also the possibility to use the MEEDRH to transfer organisms into the volcano and see how they react to the environment.
            
            Further detail to be delivered by project associate's, Brooke Mullenix and Fetalaiga Faga.
    </main>

</body>
<footer>
    <div class="containerF">
        <h3 class="sponsorTag">Sponsors:</h3>
        <img src="http://casgc.ucsd.edu/blog/wp-content/themes/casgc/images/logo_lofi.gif" alt="Other CASGC Logo 2" width="400"/>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F4d%2Fe4%2F30%2F4de430dde2298e5af2f8287318acf19f.png&f=1&nofb=1" width=155/>
    </div>
</footer>
</html>